.combobox {
    color: var(--text-color);
    width: calc(var(--spacing) * 50);
    isolation: isolate;
}

/* TODO: Add gradient animation */
.combobox-field {
    width: 100%;
    display: flex;
    padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) 0;
    align-items: center;
    gap: var(--spacing-lg);

    border-radius: var(--rounding-lg);
    border: var(--border-hairline) solid transparent;
    background-color: var(--clr-surface-tertiary);
    transition:
        background-color var(--anim-ease-superfast),
        border-color var(--anim-ease-superfast);

    background-image:
        linear-gradient(
            var(--clr-surface-tertiary),
            var(--clr-surface-tertiary)
        ),
        var(--clr-border-secondary);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    position: relative;
}

.combobox-field:has(input:focus) {
    background-color: var(--clr-surface-primary);
    border-color: var(--clr-border-secondary);
    border-color: transparent;
    background-image:
        linear-gradient(var(--clr-surface-primary), var(--clr-surface-primary)),
        var(--gradient-highlight);
}

.combobox-select {
    display: flex;
    width: 2rem;
    padding: var(--spacing-xs);
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: var(--rounding-md);
    background: var(--gradient-subtle-accent);
}

.chevron-icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 1.5;
    stroke: var(--clr-content-oncolor, #fff);
}

.react-aria-input {
    flex: 1;
    color: var(--clr-content-secondary);
    padding: var(--spacing-xs) 0;
    padding-inline-start: var(--spacing-xl);
    transition: border var(--anim-ease-fast);
}

.react-aria-combobox-value {
    margin-top: var(--spacing-1);
    font: var(--font-size-sm) system-ui;
    color: var(--text-color);
}

.combobox-popover[data-trigger="ComboBox"] {
    width: var(--trigger-width);
    padding: 0;
}
