.base {
    display: inline-flex;
    padding: var(--spacing-sm);
    align-items: center;
    gap: var(--spacing-none);
    border-radius: var(--rounding-lg);
    background: var(--clr-surface-secondary);
    box-shadow: var(--shadow-inner-sm);
    justify-self: center;
}

.option-item {
    padding: var(--spacing-sm) var(--spacing-lg);
    justify-content: center;
    align-items: center;
    border-radius: var(--rounding-md);
    color: var(--clr-content-tertiary);
    cursor: pointer;
    display: inline-flex;
    gap: var(--spacing-md);
}

.option-item-selected {
    border-radius: var(--sizing-border-radius-md, 8px);
    background: var(--colors-surface-primary, #fff);
    box-shadow: var(--shadow-xs);
}
