*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1 {
    margin: 0 auto;
    text-align: center;
    margin-block: 2rem 1.25rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin: 2rem 2rem 0rem 2rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    margin-top: 1.25rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    background-color: #1178d8;
    color: white;
    border-radius: 0.5rem;
    width: 90%;
    margin-top: 1rem;
    margin-inline: 2rem;

    transition: all 300ms ease-out;
}

label {
    display: flex;
    justify-content: space-between;
}

input[type="color"] {
    height: 3rem;
    width: 3rem;
    outline: none;
    border: none;
    border-radius: 100%;
}

button:hover {
    filter: brightness(1.1);
}
