.nav {
}

.base {
    display: flex;
    align-items: center;
    gap: var(--spacing-none);
}

.path {
    color: var(--clr-content-tertiary);
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    transition: color var(--anim-ease-superfast);
}

.path:hover {
    color: var(--clr-content-placeholder);
}

.path-active {
    color: var(--clr-content-secondary);
    text-decoration: underline;
}
