.base {
    @extend .label-medium !optional;

    display: flex;
    /* min-height: var(--min-interactive-size); */
    padding: var(--spacing-lg) var(--spacing-xl);
    gap: var(--spacing-md);
    justify-content: center;
    align-items: center;
    border-radius: var(--rounding-lg);
    border: none;
    cursor: pointer;
    transition: all ease-out 150ms;
}

.base:disabled {
    cursor: not-allowed;
    background: var(--clr-surface-disabled);
    color: var(--clr-content-disabled);
    pointer-events: none;
}

.base:hover {
    filter: brightness(1.05);
}

.primary {
    background: var(--clr-surface-accent);
    color: var(--clr-content-inverse);
}

.secondary {
    background: var(--clr-surface-transparent);
    color: var(--clr-content-accent);
}

.secondary:hover {
    filter: brightness(1);
    background-color: var(--clr-surface-accent-subtle);
}

.inverted {
    background-color: var(--clr-surface-dark);
}

.danger-ghost {
    background-color: var(--clr-surface-transparent);
}
