.trigger {
    @extend .heading-h6 !optional;
    background-color: var(--clr-surface-tertiary);
    padding: var(--spacing-2xs) var(--spacing-md) var(--spacing-xs)
        var(--spacing-lg);
    cursor: pointer;
    border-radius: var(--rounding-md);
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;

    transition: background-color var(--anim-ease-superfast);

    &[data-hovered="true"] {
        background-color: var(--clr-surface-secondary);
        filter: none;
    }

    &[data-focused="true"],
    :focus,
    :focus-within,
    :focus-visible {
        outline: none;
    }

    & span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        color: inherit;
    }
}
