.dropdown-listbox {
    --remove: 2px;
}

.dropdown-item {
    background-color: var(--clr-surface-primary);
    border-bottom: var(--border-hairline) solid var(--clr-border-primary);

    padding: var(--spacing-md) var(--spacing-lg) var(--spacing-md)
        var(--spacing-xl);
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-lg);
    cursor: pointer;

    transition: background-color var(--anim-ease-superfast);
}

.dropdown-item:focus,
.dropdown-item:focus-visible,
.dropdown-item:focus-within {
    outline: none;
    border: none;
}

.dropdown-item:hover {
    background-color: var(--clr-surface-secondary);
}

.item-label {
    @extend .body-medium !optional;
    color: var(--clr-content-tertiary);
}

.item-label-selected {
    color: var(--clr-content-primary);
}

.check-icon {
    size: 2.5rem;
    stroke-width: 1.5;
    color: var(--clr-content-accent);
}
