.base {
}

.dropdown {
    color: var(--clr-content-secondary);
    background-color: var(--clr-surface-secondary);
    border-radius: var(--rounding-sm);
    padding: var(--spacing-2xs) var(--spacing-lg) var(--spacing-xs)
        var(--spacing-xl);
    justify-self: start;
    border: none;
    outline: none;
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
    transition: background-color var(--anim-ease-fast);
}

.dropdown:hover {
    background-color: var(--clr-surface-tertiary);
}

.dropdown:focus {
    outline: none;
}

.dropdown-list {
    background-color: var(--clr-surface-primary);
}

.dropdown-item {
}

.chevron-down {
    padding-top: var(--spacing-xs);
}
