.base {
    height: 40px;
    width: 40px;
    padding: var(--spacing-md);
    aspect-ratio: 1/1;
    border-radius: var(--rounding-lg);
    background: var(--clr-surface-primary);

    box-shadow: var(--shadow-xs);
}

.base:hover {
    translate: 0 -1px;
}

.base:active {
    translate: 0 1px;
}
