.button-base {
    outline: none;
    background-color: transparent;
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;

    &[data-variant="unstyled"] {
    }

    &[data-variant="primary"] {
    }

    &[data-variant="secondary"] {
    }
}

.button-base:active,
.button-base:focus {
    outline: none;
}
